/**/

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
}

button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 18px;
    background-color: #006494;
}

button:hover{
    background-color: #13293D;
    box-shadow: 0 1px 10px black;
    color: white;
}

button:active{
    background-color: #13293D;
}